* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #ffe8e8;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background: #3890ed;
  color: #fff;
  text-align: center;
  padding: 20px;
  width: 100%;
  position: fixed;
}

.home-button {
  margin-left: auto;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow-y: auto;
}

.container {
  background: #efcfcf;
  border-radius: 20px;
  max-width: 600px;
  width: 100%;
  padding: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 200px;
  margin: 0 auto; 
}
.metric {
  margin-bottom: 20px;
  background: #b9cede;
  border-left: 5px solid #6295cc;
  padding: 95px;
  border-radius: 5px;
  text-align: left;
}

.metric label {
  display: block;
  font-weight: bold;
  color: #d3dae0;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #f3a9a9;
  border-radius: 4px;
  font-size: 15px;
}

button {
  background: #007bff;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  background: #0056b3;
}

.result, .tests {
  background: #e8f2fa;
  border: 1px solid #bad0f4;
  border-radius: 5px;
  padding: 15px;
  margin-top: 20px;
}

.result .alert-message, .result .good-health-message {
  font-weight: bold;
}

.result .alert-message {
  color: red;
}
.error {
  border-color: red;
}

.alert-message.error {
  color: red;
}

.good-health-message {
  color: green;
  font-weight: bold;
  font-size: 1.2em;
}

.alert-message {
  color: red;
  font-weight: bold;
  font-size: 1.2em;
}

.recommended-tests {
  margin-top: 20px;
  background: #c4dff3;
  border: 1px solid #b3d9ff;
  font-family:Helvetica;
  border-radius: 4px;
  padding: 10px;
  margin: 15px 0;
}

.result .good-health-message {
  color: green;
}

.tests p {
  color: #0d5ba9;
}

.tests ul {
  list-style: none;
}

footer {
  background: #007bff;
  color: #fff;
  text-align: center;
  padding: 15px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}